body {
   background-image: url("../images/DKBG.jpg");
   color: whitesmoke;
   text-shadow: -1px -1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   font-family: 'Bangers', cursive;
}

.character {
   width: 180px;
   height: 135px;
   margin: 20px;
   text-align: center;
   border: 5px solid rgb(232,200,72);
   min-width: 200px;
   position: relative;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
h4 {
   margin-right:20px;
}
#attack-button {
   font-size: 1.2em;
   height: 40px;
   margin-left: 90px;
   margin-top: 100px;
}
h6 {
}
h2 {
   margin: 20px;
}

h1 {
   font-family: 'Bangers', cursive;
   text-align: center;
   font-size: 80px;
   background: -webkit-linear-gradient(rgb(243,94,52), rgb(232,200,72));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   position: relative;
   bottom: 60px;
   left: 20px;
   text-shadow:-1px -1px 0 #000;
}
span {
   font-size: 15px;
   letter-spacing: 1px;
   padding-left: 3px;
   padding-right: 4px;
   padding-top: 2px;
   font-family: 'Bangers', cursive;
   position: absolute;
   top: 111px;
   background-color: rgb(232,200,72);
   font-size: 110%;
   line-height: 90%;
}
#defenders {
   margin: 0px;
}
#scrooge {
   background-image: url("../images/scrooge.png");
}

#launchpad {
   background-image: url("../images/launchpad.jpg");
}

#magica {
   background-image: url("../images/Magica.png");
}

#flintheart {
   background-image: url("../images/flintheart.jpg");
}
.game-play {
   font-size: 20px;
}